extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Name
        h1 Alex Carter

        //- Title
        p Full Stack JavaScript Developer


        .about-bio

          //- Personal elevator pitch
          p I've dabbled in coding my whole life. In high school, I used turbo pascal to create 400 webpages for unique soybean cultivars for my dad. In college, I learned how to use Visual Basic under the hood of MS Office and as a consultant I used this to analyze data and build a grant management tool for the federal government. 
          p As a founder, I used the now defunct BaaS Parse.com to create the fully functional backend of a social podcast app in JS. It included substring searches of a custom mongo DB, API calls to Facebook and iTunes, cron jobs to continually check for new podcast episodes, and managing the playback positions and social interactions of users, among many others things.
          p However, before now my primary focus was to make a better podcast app by any means necessary. And now, I am refocusing my career solely on becoming a professional software developer.


      .skills-contact-box.box
        h6 Skills

        //- Tech skill list
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- fake contact information, will remove if this ever goes live
        ul
          li 919.607.6767
          li alex@gmail.com

        //- Social / Github urls
        a.btn-link.li(href='https://www.linkedin.com/in/alexandertcarter/') LinkedIn
        a.btn-link.gh(href='https://github.com/alexcartaz') GitHub
        a.btn-link.tw(href='https://twitter.com/AlexCartaz') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back