extends layout.pug

block content

  article.portfolio-intro

    //- Website title
    h1 My Portfolio

    //- Website description
    p Coding projects recently completed in Treehouse's full stack JavaScript curriculum


  article.portfolio-project-thumbs
    .projects-box.box.grid
        //- iterates over each project in the data.json to render project cards with image and url
        each p in projects
          .cell
            a(href='/project/'+p.id)
              img.thumbnail(src=p.image_urls[0], alt='')
              h5 #{p.project_name}

              