<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    //- added 2 lines of html to establish a favicon
    link(rel="icon", href="/static/images/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/static/images/favicon.ico", type="image/x-icon")
  body
    #my-info.sidebar
      .sidebar-info-box
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpg', alt='')
        .dev-intro-box

          //- Name
          h5 Alex Carter

          //- Description
          p I'm a management consultant turned entreprenuer who co-founded the first social podcast app on the iPhone. 
          p My professional journey to solve podcast discovery culminated in the head of product at pre-Elon Twitter meeting with me and starting the hiring process to make me lead of a not-yet-formed podcast discovery team.
          p But a few weeks later Covid hit, they tabled their interest in podcasts, then later repurposed that interest into live audio, and then Elon bought Twitter.
          p Now I'm eagerly doing a professional pivot away from the podcasts domain, to the much more stable vocation of professional software developer.
          //- Add path from your '/about' route handler to the href below
          a(href='../about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Name (for mobile layout)
          span Alex Carter

      block content

  script(src='/static/js/script.js')