extends layout.pug

block content

    img(src='https://media4.giphy.com/media/26tP4gFBQewkLnMv6/giphy.gif?cid=2154d3d79m48314kklfxgbjcddklk87ol7t6bjmpj858z9qi&ep=v1_gifs_search&rid=giphy.gif&ct=g', alt='Barney Fife scratching his head; confused')
    br
    .notfound Whoops uh we can't seem to find that page
    br 
    .notfound 404: Page not Found
    br
    a(href='/') Back to Home &rarr;
